@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  &.light {
    cursor:
      url("/images/cursor_black.svg") 2 2,
      auto;
    button {
      cursor:
        url("/images/cursor_black.svg") 2 2,
        auto;
    }
    a {
      cursor:
        url("/images/cursor_black.svg") 2 2,
        auto;
    }
  }
  &.dark {
    cursor:
      url("/images/cursor_white.svg") 2 2,
      auto;
    button {
      cursor:
        url("/images/cursor_white.svg") 2 2,
        auto;
    }
    a {
      cursor:
        url("/images/cursor_white.svg") 2 2,
        auto;
    }
  }
}

/* Heading Tag */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.875rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: semi-bold;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: semi-bold;
  margin-bottom: 0.625rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: medium;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 1rem;
  font-weight: medium;
  margin-bottom: 0.375rem;
}
